body {
  margin: 0;
}

/* Header */
.logo,
.header-link {
  color: white;
  text-decoration: none;
}

/* Pomodoro Timer */
.timer-input .MuiInput-input {
  font-size: 4rem;
}

.count-button {
  padding: 14px;
}
@media only screen and (min-width: 600px) {
  .count-button {
    padding: 22px;
  }
}

/* Daily Count */
.action-button {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.action-button.active {
  opacity: 1;
}
